html, body {  
    height: 100%;
    width: 100% ;
    background-color:rgb(243, 240, 234);
    
    

    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;  color: #000;
    }

    .container-fluid{
      padding-right: 0%;
      padding-left: 0%;
      padding-top: 70px;

    }
.container{
  padding-top: 70px;
  justify-content: center;
  
}

.navbar-collapse{
  justify-content: center;
}



.nav-link {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  color: #000;
 
}





.carousel-indicators li{
  border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: white;

}





.card-deck {
  padding-top: 30px;
}

.card{
  border: none;
}


.page-footer{
 

  background-color: white;
  
}



a{
  color: #000;
}