html, body{  
    height: 100%;
    width: 100% ;
    background-color: rgb(243, 235, 208);
    

    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;  color: #000;
    }
.nav-link {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  color: #000;
}

.navbar-nav {
  box-sizing: border-box;
  margin-left: 150px;
}

.card-deck {
  padding-top: 30px;
}
